.btn:active {
  transform: scale(0.9); }

.btn-brix {
  margin: 0;
  background: #4a3aff;
  border-radius: 56px;
  padding: 9px 26px 12px 26px;
  color: #fff;
  transition: all 0.2s;
  box-shadow: 0 3px 12px rgba(74, 58, 255, 0.18);
  font-size: 0.8em; }
  .btn-brix:hover {
    box-shadow: 0 3px 12px rgba(74, 58, 255, 0.4);
    border: 1px solid #fff;
    color: #fff; }

.btn-brix-lg {
  margin: 0;
  background: #4a3aff;
  color: #fff;
  font-weight: bold;
  box-shadow: 0 3px 12px rgba(74, 58, 255, 0.18);
  border-radius: 56px;
  transition: all 0.2s;
  padding: 10px 25px 10.5px 25px; }
  @media screen and (min-width: 768px) {
    .btn-brix-lg {
      padding: 15px 37.5px 15.4px 37.5px; } }
  @media screen and (min-width: 1200px) {
    .btn-brix-lg {
      padding: 20px 50px 21px 50px;
      letter-spacing: 0.5px; } }
  .btn-brix-lg:hover {
    box-shadow: 0 3px 12px rgba(74, 58, 255, 0.4);
    border: 1px solid #fff;
    color: #fff; }

.btn-brix-outline-lg {
  margin: 0;
  border-radius: 56px;
  border: solid 1px #4a3aff;
  color: #4a3aff;
  transition: all 0.2s;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px 25px 10.5px 25px; }
  @media screen and (min-width: 768px) {
    .btn-brix-outline-lg {
      padding: 15px 37.5px 15.4px 37.5px; } }
  @media screen and (min-width: 1200px) {
    .btn-brix-outline-lg {
      padding: 20px 50px 21px 50px;
      letter-spacing: 0.5px; } }
  .btn-brix-outline-lg:hover {
    box-shadow: 0 3px 12px rgba(74, 58, 255, 0.4);
    border: 1px solid #fff;
    background: rgba(74, 58, 255, 0.8);
    color: #fff; }

* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

html {
  box-sizing: border-box;
  font-size: 62.5%;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif; }

*, *:before, *:after {
  box-sizing: inherit;
  margin: 0;
  padding: 0; }

body {
  font-size: 1.6rem;
  position: relative; }

nav.navbar {
  height: 6.6rem; }
  @media screen and (min-width: 576px) {
    nav.navbar {
      height: 8.6rem; } }
  @media screen and (min-width: 768px) {
    nav.navbar {
      height: 10.6rem; } }
  @media screen and (min-width: 1200px) {
    nav.navbar {
      height: 12.6rem; } }
  nav.navbar .container {
    flex-wrap: nowrap; }
    nav.navbar .container .navbar-brand svg {
      max-height: 2.5rem;
      max-width: 15rem; }
      @media screen and (min-width: 576px) {
        nav.navbar .container .navbar-brand svg {
          max-height: 3rem;
          max-width: 18rem; } }
      @media screen and (min-width: 768px) {
        nav.navbar .container .navbar-brand svg {
          max-width: 30rem;
          max-height: 4.8rem; } }

footer#footer {
  height: 19.5rem;
  border-top: 1px solid #d9dbe9;
  align-items: center;
  display: flex;
  justify-content: center;
  padding: 0; }
  footer#footer .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column-reverse; }
    @media screen and (min-width: 768px) {
      footer#footer .container {
        flex-direction: row; } }
    footer#footer .container .logo-derechos {
      display: flex;
      color: #6f6c90;
      flex-direction: column;
      align-items: center; }
      @media screen and (min-width: 768px) {
        footer#footer .container .logo-derechos {
          align-items: flex-start; } }
      footer#footer .container .logo-derechos .logo svg {
        margin-bottom: 10px;
        max-width: 80vw; }
        @media screen and (min-width: 768px) {
          footer#footer .container .logo-derechos .logo svg {
            width: 20rem; } }
        @media screen and (min-width: 992px) {
          footer#footer .container .logo-derechos .logo svg {
            width: 26.4rem; } }
      footer#footer .container .logo-derechos .copy {
        font-size: 0.7em; }
        @media screen and (min-width: 992px) {
          footer#footer .container .logo-derechos .copy {
            font-size: 1em; } }
    footer#footer .container .newsletter {
      display: flex;
      position: relative;
      margin-bottom: 3rem;
      margin-top: 2rem; }
      @media screen and (min-width: 768px) {
        footer#footer .container .newsletter {
          margin-top: 0;
          margin-bottom: 0; } }
      footer#footer .container .newsletter form {
        display: flex;
        justify-content: space-around;
        max-width: 100vw; }
        footer#footer .container .newsletter form input {
          border-radius: 60px;
          border: #eff0f6;
          box-shadow: 0 8px 25px rgba(13, 10, 44, 0.06);
          max-width: 95%;
          width: 50.7rem;
          padding: 15px;
          transition: all 0.2s; }
          @media screen and (min-width: 768px) {
            footer#footer .container .newsletter form input {
              width: 40.7rem; } }
          @media screen and (min-width: 992px) {
            footer#footer .container .newsletter form input {
              width: 50.7rem;
              padding: 20px; } }
          footer#footer .container .newsletter form input:focus {
            outline: 0 none;
            border-color: #4a3aff;
            box-shadow: 0 1px 1px rgba(74, 58, 255, 0.7) inset, 0 0 8px rgba(74, 58, 255, 0.7); }
        footer#footer .container .newsletter form button {
          position: absolute;
          top: 0;
          bottom: 0;
          left: auto;
          right: 4%;
          margin: auto;
          max-height: 70%; }

#home-trasgenia .header {
  margin: 0 auto;
  max-width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center; }
  #home-trasgenia .header h1 {
    text-align: center;
    color: #170f49;
    font-size: 3.4rem;
    margin-bottom: 1.7rem;
    font-size: 1.6em;
    margin-top: 2rem; }
    @media screen and (min-width: 576px) {
      #home-trasgenia .header h1 {
        margin-top: 3rem;
        font-size: 2em; } }
    @media screen and (min-width: 768px) {
      #home-trasgenia .header h1 {
        margin-top: 4rem;
        font-size: 3.4rem; } }
  #home-trasgenia .header h2 {
    text-align: center;
    max-width: 57rem;
    color: #6f6c90;
    line-height: 1.8;
    font-size: 0.8em;
    width: 90%;
    margin: 0 auto; }
    @media screen and (min-width: 576px) {
      #home-trasgenia .header h2 {
        font-size: 1.8rem; } }
#home-trasgenia .contenedor-pasos {
  width: 95%;
  max-width: 70rem;
  border-radius: 34px;
  border: 1px solid #eff0f6;
  box-shadow: 0 5px 16px rgba(8, 15, 52, 0.06);
  min-height: 30.6rem;
  margin: 3rem auto 3.5rem auto; }
  @media screen and (min-width: 768px) {
    #home-trasgenia .contenedor-pasos {
      margin: 6rem auto 3.5rem auto;
      min-height: 60.6rem; } }
  #home-trasgenia .contenedor-pasos .progreso {
    display: flex;
    max-width: 85%;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #d9dbe9;
    margin: 2rem auto 0 auto;
    padding-bottom: 2rem; }
    @media screen and (min-width: 576px) {
      #home-trasgenia .contenedor-pasos .progreso {
        margin: 3rem auto;
        padding-bottom: 3rem; } }
    @media screen and (min-width: 992px) {
      #home-trasgenia .contenedor-pasos .progreso {
        margin: 4rem auto;
        padding-bottom: 4rem; } }
    #home-trasgenia .contenedor-pasos .progreso .numero {
      width: 2.8rem;
      height: 2.8rem;
      border-radius: 50%;
      background: #eff0f6;
      display: flex;
      justify-content: center;
      align-items: center;
      transition: all 0.2s; }
      #home-trasgenia .contenedor-pasos .progreso .numero span {
        color: #6f6c90; }
      @media screen and (min-width: 576px) {
        #home-trasgenia .contenedor-pasos .progreso .numero {
          width: 3.4rem;
          height: 3.4rem; } }
    #home-trasgenia .contenedor-pasos .progreso .numero.active {
      background: #4a3aff; }
      #home-trasgenia .contenedor-pasos .progreso .numero.active span {
        color: #fff; }
    #home-trasgenia .contenedor-pasos .progreso .barra {
      border-radius: 3px;
      width: 10vw;
      max-width: 10rem;
      height: 0.6rem;
      background: #eff0f6;
      position: relative;
      overflow: hidden;
      transition: all 0.2s; }
      #home-trasgenia .contenedor-pasos .progreso .barra .relleno {
        transition: all 0.2s;
        background: #4a3aff;
        height: 0.6rem;
        width: 0;
        border-radius: 3px; }
#home-trasgenia .contenedor-botones {
  width: 95%;
  max-width: 70rem;
  display: flex;
  justify-content: space-between;
  margin: 0 auto 11rem auto; }
  #home-trasgenia .contenedor-botones a {
    font-size: 1em; }

/*# sourceMappingURL=main.css.map */
